<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kujua</title>

  <link href="/styles/titillium.css" rel='stylesheet' type='text/css'>
  <link href="/styles/bootstrap.min.css" rel="stylesheet">
  <link href="/styles/style.css" rel="stylesheet">
  <link href="/styles/build/ang.css" rel="stylesheet">
  <script src="/js/build/ang.js"></script>
  <script src="/js/angular-animate.js"></script>
  <script src="/js/index/indexModule.js"></script>
  <script src="/js/index/indexController.js"></script>
  <script src="/js/user/userModule.js"></script>
  <script src="/js/index/logController.js"></script>
  <script src="/js/jquery-1.9.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/ui-bootstrap-tpls-0.3.0.js"></script>
  <script src="/js/pophover.js"></script>


</head>

<body ng-app="indexModule" ng-controller="indexController">
<div class="header" id="header">
  <div class="titleheader col-lg-1">  <a href="/"><h3> <img src="/images/kujua2.png"  style="width:115px;"/>  </h3></a></div>

  <div class="row connexion">
    <% if( channel ) { %>
    <div class="col-lg-2">
      <a href="/channel/stream/<%=channel.owner%>"> <span class="label label-danger">Démarrer</span> </a> <br />
    </div>
    <% } %>
    <% if (!session.authenticated) { %>
    <div class="col-lg-2">
      <a href="/user/connect"> Connexion </a> <br />
    </div>
    <div class="col-lg-2" >
      <a href="/user/new"> &nbsp;&nbsp;&nbsp;&nbsp;Inscription </a> <br />
    </div>
    <% } %>
    <% if (session.authenticated) { %>
    <div class="col-lg-2">
      <a href="/user/show"> Profil </a> <br />
    </div>
    <div class="col-lg-2" ng-controller="logController" >
      <input type="hidden" ng-bind="_csrf='<%= _csrf %>'" name="_csrf" value="<%= _csrf %>" />
      <a ng-click="submitLogOutForm()" href=""> Déconnexion <i class=""></i></a><br />
    </div>
    <% } %>
    <div class="col-lg-4 col-lg-offset-2">
      <div class="right-inner-addon">
        <i class="icon-search"></i>
        <form action="/channel/show" method="post">
          <input type="search" name="query"
                 class="form-control"
                 placeholder="Rechercher" />
          <input hidden="hidden" type="submit" value="rechercher"/>
        </form>
      </div>
    </div>
  </div>

<div class="container" >
  <div class ="row headermargin">
    <br />

    <div class="panel panel-info">
      <div class="panel-body">
        <div class="col-lg-8">
          <h3>Votre Profil</h3>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="<%= user.picture %>" alt="...">
            </a>
          </div>
          <div class="col-lg-4 margin"   >
            <div class="panel-body">
              <b> Information Personnelle : <br /><br />
                Nom : <%= user.lastName%> <br />
                Prénom : <%= user.firstName%> <br />
                Email :  <%= user.email%> <br />
                <a href="/user/update" class="btn btn-primary" role="button">Modifier</a>
              </b>
            </div>
          </div>
        </div>
      </div>
      <% if(channel) { %>
        <div class="panel-body margin">
          <div class="input-group">
            <a href="/channel/new" class="btn btn-warning" role="button"> Créer une chaine</a>
          </div>
        </div>
      <% } %>
      <div class="panel-body margin">
        <div class="input-group">
          <a href="/channel/edit" class="btn btn-danger" role="button">Editer votre chaine</a>
        </div>
      </div>
      <div class="panel-body margin">
        <b> Liste des chaines dont vous êtes aboonées : <br /><br /><br />
          <select multiple class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select></b>
      </div>

    </div>



  </div>

</div>
<br />
</body>

</html>
