<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Comestream</title>
  <link rel="shortcut icon" href="/favicon.ico?v=2" />
  <link href="/styles/titillium.css" rel='stylesheet' type='text/css'>
  <link href="/styles/thumbnail-slider.css" rel="stylesheet" type="text/css"/>
  <link href="/styles/ninja-slider.css" rel="stylesheet" type="text/css"/>
  <link href="/styles/bootstrap.min.css" rel="stylesheet">
  <link href="/styles/style.css" rel="stylesheet">
  <link href="/styles/build/ang.css" rel="stylesheet">
  <script src="/js/build/ang.js"></script>
  <script src="/js/angular-animate.js"></script>
  <script src="/js/index/indexModule.js"></script>
  <script src="/js/index/indexController.js"></script>
  <script src="/js/index/logController.js"></script>
  <script src="/js/jquery-1.9.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/ui-bootstrap-tpls-0.3.0.js"></script>
  <script src="/js/pophover.js"></script>
  <script src="/js/thumbnail-slider.js" type="text/javascript"></script>
  <script src="/js/ninja-slider.js" type="text/javascript"></script>
</head>
<body ng-app="indexModule" ng-controller="indexController">
<div class="header" id="header">
  <div class="titleheader2 col-lg-1">  <a href="/"><h3> <img src="/images/logo.png"  style="width:415px;"/>  </h3></a></div>

  <div class="row connexion">
    <% if( channel ) { %>
    <div class="col-lg-2">
      <a href="/channel/stream/<%=channel.owner%>"> <span class="label label-danger">Démarrer</span> </a> <br />
    </div>
    <% } %>
    <% if (!session.authenticated) { %>
      <div class="col-lg-2">
        <a href="/user/connect"> Connexion </a> <br />
      </div>
      <div class="col-lg-2" >
        <a href="/user/new"> &nbsp;&nbsp;&nbsp;&nbsp;Inscription </a> <br />
      </div>
    <% } %>
    <% if (session.authenticated) { %>
      <div class="col-lg-2">
        <a href="/user/show"> Profil </a> <br />
      </div>
      <div class="col-lg-2" ng-controller="logController" >
        <input type="hidden" ng-bind="_csrf='<%= _csrf %>'" name="_csrf" value="<%= _csrf %>" />
        <a ng-click="submitLogOutForm()" href=""> Déconnexion <i class=""></i></a><br />
      </div>
    <% } %>
    <div class="col-lg-4 col-lg-offset-2">
      <div class="right-inner-addon">
        <i class="icon-search"></i>
        <form action="/channel/show" method="post">
          <input type="search" name="query"
                 class="form-control"
                 placeholder="Rechercher" />
          <input hidden="hidden" type="submit" value="rechercher"/>
        </form>
      </div>
    </div>
  </div>
</div>

<div id='ninja-slider'>
  <div class="container1">

    <div class="slider-inner ">
      <ul>
        <li><a class="ns-img effect " href="/images/carousel2.jpg"></a>
          <div class="container2">
            <div class="container ">
              <div class="row">
                <div class="col-lg-6 priorvideo">
                  <img src="/images/button.png" class="buttonpicture"/>
                  <video width="520" height="492"  controls src="video.ogv" style=" opacity:0; margin-top:-150px;">Ici la description alternative</video>
                </div>
                <div class="col-lg-6  priorvideoright">
                  <div class="titrechannel">
                    Comestream
                  </div>
                  <div class="categoriechannel">

                    Une nouvelle façon de faire
                  </div>
                  <div class="text">

                    Les opérateurs télécoms doivent relever des défis majeurs : faire face à une concurrence exacerbée sur leur core business (ex : impacts du lancement de Free Mobile sur le marché français, qui passe à 4 opérateurs), réaliser des investissements colossaux pour faire évoluer leurs réseaux (4G, fibre optique), maintenir l’emploi dans un contexte de fortes optimisations, innover dans les usages..<br />
                    <br /> <a href="video.html" class="btn btn-danger" role="button">Suivre chaine</a>
                    <button type="button" class="btn btn-default btn-sm">S'abonner</button>

                  </div>

                </div>
              </div>
            </div>
          </div>

        </li>

        <li><a class="ns-img effect" href="/images/10.jpg"></a>
          <div class="container2">
            <div class="container ">
              <div class="row">
                <div class="col-lg-6 priorvideo">
                  <img src="/images/button.png" class="buttonpicture"/>
                </div>
                <div class="col-lg-6  priorvideoright">
                  <div class="titrechannel">
                    Etudes
                  </div>
                  <div class="categoriechannel">

                    Cours de Maths
                  </div>
                  <div class="text">

                    Les opérateurs télécoms doivent relever des défis majeurs : faire face à une concurrence exacerbée sur leur core business (ex : impacts du lancement de Free Mobile sur le marché français, qui passe à 4 opérateurs), réaliser des investissements colossaux pour faire évoluer leurs réseaux (4G, fibre optique), maintenir l’emploi dans un contexte de fortes optimisations, innover dans les usages..<br />
                    <br /> <a href="video.html" class="btn btn-danger" role="button">Suivre chaine</a>
                    <button type="button" class="btn btn-default btn-sm">S'abonner</button>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a class="ns-img effect" href="/images/carousel4.jpg"></a>
          <div class="container2">
            <div class="container ">
              <div class="row">
                <div class="col-lg-6 priorvideo">
                  <img src="/images/button.png" class="buttonpicture"/>
                </div>
                <div class="col-lg-6  priorvideoright">
                  <div class="titrechannel">
                    Voyages
                  </div>
                  <div class="categoriechannel">

                    Expert voyage
                  </div>
                  <div class="text">

                    Les opérateurs télécoms doivent relever des défis majeurs : faire face à une concurrence exacerbée sur leur core business (ex : impacts du lancement de Free Mobile sur le marché français, qui passe à 4 opérateurs), réaliser des investissements colossaux pour faire évoluer leurs réseaux (4G, fibre optique), maintenir l’emploi dans un contexte de fortes optimisations, innover dans les usages..<br />
                    <br /> <a href="video.html" class="btn btn-danger" role="button">Suivre chaine</a>
                    <button type="button" class="btn btn-default btn-sm">S'abonner</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </li>
        <li><a class="ns-img effect" href="/images/8.jpg"></a>

          <div class="container2">
            <div class="container ">
              <div class="row">
                <div class="col-lg-6 priorvideo">
                  <img src="/images/button.png" class="buttonpicture"/>
                </div>
                <div class="col-lg-6  priorvideoright">
                  <div class="titrechannel">
                    Chaine                                    </div>
                  <div class="categoriechannel">
                    Creer votre chaine
                  </div>
                  <div class="text">
                    Les opérateurs télécoms doivent relever des défis majeurs : faire face à une concurrence exacerbée sur leur core business (ex : impacts du lancement de Free Mobile sur le marché français, qui passe à 4 opérateurs), réaliser des investissements colossaux pour faire évoluer leurs réseaux (4G, fibre optique), maintenir l’emploi dans un contexte de fortes optimisations, innover dans les usages..<br />
                    <br /> <a href="addchannel.html" class="btn btn-danger" role="button">Creer votre chaine</a>
                    <button type="button" class="btn btn-default btn-sm">S'abonner</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a class="ns-img effect" href="/images/carousel3.jpg"></a>
          <div class="container2">
            <div class="container ">
              <div class="row">
                <div class="col-lg-6 priorvideo">
                  <img src="/images/button.png" class="buttonpicture"/>
                </div>
                <div class="col-lg-6  priorvideoright">
                  <div class="titrechannel">
                    Mode
                  </div>
                  <div class="categoriechannel">
                  </div>
                  <div class="text">
                    Les opérateurs télécoms doivent relever des défis majeurs : faire face à une concurrence exacerbée sur leur core business (ex : impacts du lancement de Free Mobile sur le marché français, qui passe à 4 opérateurs), réaliser des investissements colossaux pour faire évoluer leurs réseaux (4G, fibre optique), maintenir l’emploi dans un contexte de fortes optimisations, innover dans les usages..<br />
                    <br /> <a href="video.html" class="btn btn-danger" role="button">Suivre chaine</a>
                    <button type="button" class="btn btn-default btn-sm">S'abonner</button>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a class="ns-img effect" href="/images/carousel5.jpg"></a>
          <div class="container2">
            <div class="container ">
              <div class="row">
                <div class="col-lg-6 priorvideo">
                  <img src="/images/button.png" class="buttonpicture"/>
                </div>
                <div class="col-lg-6  priorvideoright">
                  <div class="titrechannel">
                    Etudes
                  </div>
                  <div class="categoriechannel">

                    English
                  </div>
                  <div class="text">

                    Les opérateurs télécoms doivent relever des défis majeurs : faire face à une concurrence exacerbée sur leur core business (ex : impacts du lancement de Free Mobile sur le marché français, qui passe à 4 opérateurs), réaliser des investissements colossaux pour faire évoluer leurs réseaux (4G, fibre optique), maintenir l’emploi dans un contexte de fortes optimisations, innover dans les usages..
                    <br /> <a href="video.html" class="btn btn-danger" role="button">Suivre chaine</a>
                    <button type="button" class="btn btn-default btn-sm">S'abonner</button>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a class="ns-img effect" href="/images/carousel1.jpg"></a>
          <div class="container2">
            <div class="container ">
              <div class="row">
                <div class="col-lg-6 priorvideo2">
                  <img src="/images/button.png" class="buttonpicture"/>
                </div>
                <div class="col-lg-6  priorvideoright2">
                  <div class="titrechannel">

                  </div>
                  <div class="categoriechannel">

                  </div>
                  <div class="text">

                    <br /> <br /> <br /> <br /> <br /> <a href="video.html" class="btn-lg btn-default" role="button">Prendre rendez vous</a>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="fs-icon" title="Expand/Close"></div>
    </div>
    <div id="thumbnail-slider">
      <div class="inner">
        <ul>
          <li>
            <a class="thumb" href="/images/carousel2.jpg"></a>
            <span>0</span>
          </li>

          <li>
            <a class="thumb" href="/images/10.jpg"></a>
            <span>1</span>
          </li>
          <li>
            <a class="thumb" href="/images/carousel4.jpg"></a>
            <span>2</span>
          </li>
          <li>
            <a class="thumb" href="/images/8.jpg"></a>
            <span>3</span>
          </li>
          <li>
            <a class="thumb" href="/images/carousel3.jpg"></a>
            <span>4</span>
          </li>
          <li>
            <a class="thumb" href="/images/carousel5.jpg"></a>
            <span>5</span>
          </li>

          <li>
            <a class="thumb" href="/images/carousel1.jpg"></a>
            <span>6</span>
          </li>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">
  <h1> Catégories </h1> Nos Catégories les plus populaires
  <div class="row">
    <div class="col-lg-2 arrrondi">
      <a href="/channel/show/cours"> <img src="/images/cours.jpg" class="img"/></a>
    </div>
    <div class="col-lg-2 arrrondi ">
      <a href="/channel/show/tourisme"> <img src="/images/tourisme.jpg" class="img"/></a>
    </div>
    <div class="col-lg-2 arrrondi ">
      <a href="/channel/show/immobilier"> <img src="/images/immobilier.jpg" class="img"/></a>
    </div>
    <div class="col-lg-2 arrrondi ">
      <a href="/channel/show/mode"> <img src="/images/mode.jpg" class="img"/></a>
    </div>
    <div class="col-lg-2 arrrondi ">
      <a href="/channel/show/finance"> <img src="/images/finance.jpg" class="img"/></a>
    </div>
    <div class="col-lg-2 arrrondi ">
      <a href="/channel/show/automobile"> <img src="/images/automobile.jpg" class="img"/></a>
    </div>
    <div class="col-lg-2 arrrondi ">
      <a href="/channel/show/telecom"> <img src="/images/telecom.jpg" class="img"/></a>
    </div>
    <div class="col-lg-2 arrrondi ">
      <a href="/channel/show/art"> <img src="/images/art.jpg" class="img"/></a>
    </div>
    <div class="col-lg-2 arrrondi ">
      <a href="/channel/show/critique"> <img src="/images/critique.jpg" class="img"/></a>
    </div>
    <div class="col-lg-2 arrrondi ">
      <a href="/channel/show/sport"> <img src="/images/sport.jpg" class="img"/></a>
    </div>
    <div class="col-lg-2 arrrondi ">
      <a href="/channel/show/decouverte"> <img src="/images/decouverte.jpg" class="img"/></a>
    </div>
    <div class="col-lg-2 arrrondi ">
      <a href="/channel/show/expert"> <img src="/images/expert.jpg" class="img"/></a>
    </div>
    <br />

    <div class="col-lg-3 buttonmorechannel"><br /><br />
      <a href="/channel/allcat" class="btn btn-info" role="button">plus</a>
    </div>

  </div>
</div>
<div class="cat">

</div>

<div class="container-fluid">
  <div class="row">
    <div class="division ">

      <div class="titrechannel2">
        Inscrivez Vous avec les reseaux sociaux :<br />
        <button type="button" class="btn btn-primary ">Facebook</button> <button type="button" class="btn btn-primary ">Reddit</button> <button type="button" class="btn btn-primary ">Twitter</button>
      </div>
      <div class="titrechannel3">
        Suivez Nous :  <button type="button" class="btn btn-primary ">J'aime</button><br /><br />
      </div>
    </div>
  </div>
</div>

<!--<div class="container">-->
  <!--<div class="channel">-->
    <!--<div class="row">-->
      <!--<br /><br />-->
      <!--<h1> Chaines Populaires</h1> Nos consultants les plus populaires-->


      <!--<div class="channelgroup">-->
        <!--<% _.each(channels, function(channel) { %>-->
          <!--<div class="col-lg-4 ">-->
            <!--<div class="channelvignette">-->
              <!--<a href="/channel/show?id=<%= channel.id %>" > <img src="/images/1.jpg" width="205px" /></a>-->
              <!--<h3> <%= channel.name %> </h3>-->
            <!--</div>-->
          <!--</div>-->
        <!--<% }) %>-->
        <!--&lt;!&ndash;<div class="col-lg-4 ">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="channelvignette">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/channel/show?id=565f0d3299aeac2b03c6ee61" > <img src="/images/1.jpg" width="205px" /></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<h3> Channel 1 </h3>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-lg-4 ">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="channelvignette">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="/images/1.jpg" width="205px" />&ndash;&gt;-->
            <!--&lt;!&ndash;<h3> Channel 1 </h3>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-lg-4 ">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="channelvignette">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="/images/1.jpg" width="205px" />&ndash;&gt;-->
            <!--&lt;!&ndash;<h3> Channel 1 </h3>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-lg-4 ">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="channelvignette">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="/images/1.jpg" width="205px" />&ndash;&gt;-->
            <!--&lt;!&ndash;<h3> Channel 1 </h3>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-lg-4 ">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="channelvignette">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="/images/1.jpg" width="205px" />&ndash;&gt;-->
            <!--&lt;!&ndash;<h3> Channel 1 </h3>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-lg-4 ">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="channelvignette">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="/images/1.jpg" width="205px" />&ndash;&gt;-->
            <!--&lt;!&ndash;<h3> Channel 1 </h3>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-lg-4 ">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="channelvignette">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="/images/1.jpg" width="205px" />&ndash;&gt;-->
            <!--&lt;!&ndash;<h3> Channel 1 </h3>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-lg-4 ">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="channelvignette">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="/images/1.jpg" width="205px" />&ndash;&gt;-->
            <!--&lt;!&ndash;<h3> Channel 1 </h3>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-lg-4 ">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="channelvignette">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="/images/1.jpg" width="205px" />&ndash;&gt;-->
            <!--&lt;!&ndash;<h3> Channel 1 </h3>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->
      <!--<br /><br /> <br /><br />-->
      <!--<div class="col-lg-3 buttonmorechannel">-->
        <!--<a href="channel.html" class="btn btn-primary" role="button">plus</a>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="container">
  <div class="channel">
    <div class="row">
      <br /><br />
      <h1> Chaines Populaires</h1> Nos consultants les plus populaires

      <div class="channelgroup">
        <% _.each(channels, function(channel) { %>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <a href="/channel/see/<%= channel.owner %>" > <img src="<%= channel.picture %>" width="250px" height="140px" /></a>
            <h5> <b>  <%= channel.name %> <span class="btn-lg label label-danger">  <%= channel.category %>
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <% }) %>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <a href="video.html" > <img src="/images/chan1.jpg" width="250px" height="140px" /></a>
            <h5> <b> Channel <span class="btn-lg label label-danger"> Tourisme
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <a href="video.html" > <img src="/images/chan1.jpg" width="250px" height="140px" /></a>
            <h5> <b> Channel <span class="btn-lg label label-danger"> Tourisme
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <img src="/images/chan2.jpg" width="250px" height="140px" />
            <h5> <b> Channel <span class="btn-lg label label-success"> Découverte
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <img src="/images/chan3.jpg" width="250px" height="140px" />
            <h5> <b> Channel <span class="btn-lg label label-danger"> Tourisme
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <img src="/images/chan4.jpg" width="250px" height="140px" />
            <h5> <b> Channel <span class="btn-lg label label-primary"> Finance
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <img src="/images/chan5.jpg" width="250px" height="140px" />
            <h5> <b> Channel <span class="btn-lg label label-default"> Sports
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <img src="/images/chan6.jpg" width="250px" height="140px" />
            <h5> <b> Channel <span class="btn-lg label label-info"> Physique
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <img src="/images/chan7.jpg" width="250px" height="140px" />
            <h5> <b> Channel <span class="btn-lg label label-default"> Sports
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <img src="/images/chan8.jpg" width="250px" height="140px" />
            <h5> <b> Channel <span class="btn-lg label label-danger"> Tourisme
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <img src="/images/chan9.jpg" width="250px" height="140px" />
            <h5> <b> Channel <span class="btn-lg label label-danger"> Tourisme
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <img src="/images/chan10.jpg" width="250px" height="140px" />
            <h5> <b> Channel <span class="btn-lg label label-success"> Art
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <img src="/images/chan11.jpg" width="250px" height="140px" />
            <h5> <b> Channel <span class="btn-lg label label-primary"> Finance
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <img src="/images/chan12.jpg" width="250px" height="140px" />
            <h5> <b> Channel <span class="btn-lg label label-success"> Art
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <img src="/images/chan13.jpg" width="250px" height="140px" />
            <h5> <b> Channel <span class="btn-lg label label-warning"> Immobilier
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <img src="/images/chan14.jpg" width="250px" height="140px" />
            <h5> <b> Channel <span class="btn-lg label label-danger"> Tourisme
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <img src="/images/chan15.jpg" width="250px" height="140px" />
            <h5> <b> Channel <span class="btn-lg label label-danger"> Tourisme
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>
        <div class="col-lg-3 ">
          <div class="channelvignette">
            <img src="/images/chan16.jpg" width="250px" height="140px" />
            <h5> <b> Channel <span class="btn-lg label label-info"> Maths
                        </span></b>  <br /> </h5>1000 spectareurs sur channel
          </div>
        </div>

        <br /><br /> <br /><br />
        <div class=" buttonmorechannel">
          <a href="/channel/show" class="btn btn-primary" role="button">plus</a>
        </div>

      </div>
    </div>
  </div>
</div>
<br /><br /><br />
<div class="footer">
</div>
<script type="text/javascript">
  $(document).scroll(function()
  {
    if($(document).scrollTop()>300)
      $("#header").stop().animate({"opacity":"0.5"},500);
    if($(document).scrollTop()<300)
      $("#header").stop().animate({"opacity":"1"},500);
  });
</script>

<script >
  $('#jour').click(function () {
    $('body').css('background-color', '#fff');
    $("#header").css('background-color', '#072d57');
  });
  $('#nuit').click(function () {
    $('body').css('background-color', '#000');
    $("#header").css('background-color', '#072d57');
  });

</script>

</body>


</html>

